.date-filter {
	display: flex;
	padding-top: 25px;
	justify-content: center;
	text-align: center;
	margin-left: 300px;
	height: 65px;
}

option {
	text-align: start;
	margin-left: 20px;
	border: none;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
}

.barChartContainer {
	margin-bottom: 50px;
}

.date-filter label {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-left: 20px;
	margin-right: 10px;
	color: #1d2240;
	margin-top: 10px;
}
